@model GoogleUser


<style type="text/css">
   img.user-image {
        border-radius: 50%;
        margin: 5px;
   }
</style>

<div class="card" style="max-width: 400px;">
    <div class="row g-0">
        <div class="col-md-4 user-image">
            <img class="user-image" src="@Model.Picture" alt="User Profile Photo"/>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">@Model.Name</h3>
                <p class="card-text">@Model.Email</p>
            </div>
        </div>
    </div>
    
</div>
